<footer id="footer">
  <h3>Attributions</h3>
  <table id="attributions">
    <tr>
      <th>Asset Name</th>
      <th>Lo&shy;ca&shy;tion</th>
      <th>Source Link</th>
    </tr>
    <tr>
      <td>
        In&shy;for&shy;ma&shy;tion re&shy;gard&shy;ing Pi
      </td>
      <td>π: Back&shy;ground In&shy;tro&shy;duc&shy;tion</td>
      <td>
        <a href="https://en.wikipedia.org/wiki/Pi">
          https://en.wikipedia.org/wiki/Pi
        </a><br />
        <a href="https://www.pi-world-ranking-list.com/?page=lists&category=pi">
          https://www.pi-world-ranking-list.com/?page=lists&category=pi
        </a><br />
        <a href="https://en.wikipedia.org/wiki/List_of_formulae_involving_π">
          https://en.wikipedia.org/wiki/List_of_formulae_involving_π
        </a><br />
      </td>
    </tr>
    <tr>
      <td>
        URL Icon
      </td>
      <td>In the tab bar</td>
      <td>
        Icons made by
        <a href="https://www.flaticon.com/authors/freepik" title="Freepik">
          Freepik
        </a>
        from
        <a href="https://www.flaticon.com/" title="Flaticon">
          www.flaticon.com</a>
      </td>
    </tr>
  </table>
</footer>
