<head>
  <title>How to Use Pi</title>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <link rel="stylesheet" href="/css/screen.css" />
  <link rel="shortcut icon" href="/assets/favicon.ico" />
  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap"
    rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap"
    rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"
    rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap"
    rel="stylesheet" />
  <!-- Include MathJax for Equations -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>

  <% if (typeof pi_value !== "undefined") { %>
    <script src="/js/pi.js"></script>
  <% } %>
</head>
