/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/*  Custom CSS Added Here:
    Notes:
      - To celebrate π, I used a modular scale of 1:π/2 for font sizes.
        (I would've used 1:π, but the sizes weren't granular enough)
      - Color schema was based on skyblue as a base color followed by
        other similar shades to this color. I minimized the use of
        bright, popping colors to make the page less distracting.
    Color Scheme:
      #00B6BD
      #00D6DF
      lightskyblue
      white
      gray
*/
html {
  background-color: #89CFF0; /* Baby Blue */
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  min-height: 95vh;
  overflow-wrap: break-word;
  position: relative;
  width: 100%;
  word-wrap: break-word;
}

header,
main {
  margin-left: 2vw;
  max-width: 78.833em;
}

header {
  padding-bottom: 10em;
}

main {
  padding-bottom: 20em;
}

section {
  margin-top: 2.467em;
  padding-top: 0.258em;
}

aside {
  border-color: #00D6DF;
  border-style: dotted;
  border-width: 0.405em;
  box-sizing: border-box;
  margin-top: 1.571em;
  padding: 1em;
}

h1,
h2,
h3 {
  font-family: 'Roboto Slab', 'Times New Roman';
}

h1 {
  font-size: 3.876em;
  font-weight: 700;
  line-height: 1em;
  margin: 0.637em 0;
}

h2 {
  font-size: 1.571em;
  font-weight: 700;
  line-height: 1em;
  margin: 1em 0;
}

h3 {
  font-weight: 700;
  line-height: 1em;
  margin: 1em 0;
}

p {
  line-height: 1.571em;
}

p.equation {
  font-size: minmax(1em, 4vw);
  overflow: auto;
}

sup {
  font-size: 0.637em;
  vertical-align: super;
}

sub {
  font-size: 0.637em;
  vertical-align: sub;
}

em {
  font-style: italic;
}


/* Header Styling */
#navigation li {
  background-color: #00B6BD; /* Iris Blue */
  border-radius: 0.637em;
  font-family: 'Roboto Slab', 'Times New Roman';
  margin: 1em;
  margin-left: 0;
  vertical-align: top;
}

#navigation ul > li {
  display: inline-block;
  float: left;
  position: relative;
  width: auto;
}

#navigation li:last-child {
  margin-right: 0;
}

#navigation ul.dropdown-menu {
  display: none;
  opacity: 0.95;
  position: absolute;
  width: 100%;
}

#navigation li:hover ul.dropdown-menu {
  display: block;
}

#navigation .dropdown-menu li {
  display: block;
  float: none;
  margin: 0;
}

#navigation a {
  color: black;
  display: block;
  font-weight: bold;
  line-height: 1.571em;
  padding: 1em;
  text-decoration: none;
}

#navigation a:hover {
  background-color: #00D6DF; /* Robin's Egg Blue */
  border-radius: 0.637em;
}

#navigation a:hover span.red {
  color: red;
}

#navigation a:hover span.blue {
  color: blue;
}

#navigation a:hover span.yellow {
  color: yellow;
}

#navigation a:hover span.green {
  color: green;
}


/* TODO: Fix CSS for Smaller screens and Add Media Queries */


/* Pi Game Stylings */
#pi-game input {
  border-color: lightgray;
  border-radius: 0.2em;
  border-style: solid;
  border-width: 0.1em;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.571em;
  padding: 0.405em;
  text-align: center;
  width: 1.571em;
}

/* Hide Arrows for: Chrome, Safari, Edge, Opera  */
#pi-game input::-webkit-outer-spin-button,
#pi-game input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide Arrows for: Firefox  */
#pi-game input[type=number] {
  -moz-appearance: textfield;
}


/* Footer Stylings */
#footer {
  background-color: #99FFD5;
  bottom: 0;
  padding-bottom: 2vw;
  padding-top: 1vw;
  position: absolute;
  text-align: left;
  width: 100%;
}

#footer h3 {
  margin-left: 2vw;
}

#attributions {
  margin-left: 2vw;
  width: 50%;
}

#attributions th {
  font-size: 0.750em;
  font-weight: bold;
  padding-bottom: 0.375em;
}

#attributions td {
  font-size: 0.637em;
  line-height: 1.571em;
  margin: 1em;
  text-align: left;
}

#attributions th:last-child,
#attributions td:last-child {
  margin-right: 0;
}

#attributions a {
  word-break: break-word;
}
