<!DOCTYPE html>
<html lang="en" id="about-pi">
  <%- include('.././partials/head'); %>

  <body>
    <header id="header">
      <h1>π: Background Introduction</h1>

      <nav id="navigation">
        <ul>
          <li><a href="/">
            Home
          </a></li>
          <li><a href="/about-pi">
            π: Background Introduction</a>
            <ul class="dropdown-menu" aria-label="submenu">
              <li><a href="/how-to-use-pi#what">
                <span class="red">What</span> is π?
              </a></li>
              <li><a href="/how-to-use-pi#why">
                <span class="blue">Why</span> π?
              </a></li>
              <li><a href="/how-to-use-pi#how">
                <span class="yellow">How</span> is π Used?
              </a></li>
              <li><a href="/how-to-use-pi#who">
                <span class="green">Who</span> En&shy;coun&shy;ters π?
              </a></li>
            </ul>
          </li>
          <li><a href="/how-to-use-pi">
            How to Use π
          </a></li>
          <li><a href="/pi-test">
            π Test
          </a></li>
        </ul>
      </nav>
    </header>

    <main id="content">
      <section id="what">
        <h2>What is π?</h2>
        <p>
          Pi started out as a letter in the Greek alphabet. Its uppercase form
          is П, which you may or may not recognize. It’s more likely you’ve seen
          its lower case form π. It’s also likely that you’ve seen π being used
          in a mathematical context, which is the main focus of this webpage.
          In mathematics, π is an irrational mathematical constant, which means
          that it contains an infinite sequence of non-repeating decimal digits
          to the right of the decimal point. Ancient civilizations around the
          world discovered its existence over 4000 years ago and began
          calculating it. However, Archimedes of Syracuse was the first
          mathematician to create an algorithm for calculating π; therefore, it
          can also be called “Archimedes’ constant”. The fact that Archimedes
          was Greek may explain how the letter ‘π’ originally came to be chosen
          as the representation of the value 3.141592653589... In the following
          centuries, we credit the famous mathematician Euler for popularizing
          the modern use of the ‘π’ symbol to express this value as well as its
          increased usage in mathematics.
        </p>
      </section>
      <aside>
        <h3>Fun Fact:</h3>
        <p>
          If you are more heavily involved with mathematics, you’ve also seen
          П used as well as π. П is used to express the product of a sequence.
          For example,
        </p>
        <p class="equation">
          $$\prod_{k=1}^{5} k=1 × 2 × 3 × 4 × 5$$
        </p>
      </aside>
      <section id="why">
        <h2>Why π?</h2>
        <p>
          π is a significant value that appears in nature quite often. As a
          result, it appears in the natural sciences and technology related
          fields. π has become so well known because of this that it’s used
          periodically in pop culture. March 14<sup>th</sup> (3/14) is named
          Pi Day in dedication to all the times π has contributed to
          science and technology. In the year 2015, Pi Day reached a once in a
          century milestone: 3/14/15 (3.1415 vs the typical 3.14). Memorizing
          the endless digits of π has even turned into a community competition.
          People also compete for the world record with current world record
          being 70,030 digits (<a href="#attributions">see source below</a>)!
        </p>
      </section>
      <section id="how">
        <h2>How is π Used?</h2>
        <p>
          π most commonly used for calculations involving circular regions
          of space. Common examples include area of a circle, volume of a
          sphere, and trignometry (especially for the unit circle). It has also
          appeared in a number areas with no direct connection to circles such
          as Einstein’s field equation of general relativity. See the following
          section for more on <a href="how-to-use-pi.html">How To Use π</a>.
        </p>
      </section>
      <section id="who">
        <h2>Who Encounters π?</h2>
        <p>
          Prior to the 20<sup>th</sup> century, π was primarily of interest to
          mathematicians, who invented many different algorithms in attempt to
          generate a more precise value of π. In the late-20<sup>th</sup>, it
          became the interest of computer scientists to use computers to put
          these algorithms to the test. In fact, this is one of the metrics that
          humanity uses to demonstrate advances in computing technology. Around
          this time, space travel and other mission critical systems required a
          certain precision of π for their calculations. NASA acknowledges its
          use of π today in <a href="https://www.universetoday.com/110331/happy-pi-day-5-ways-nasa-uses-pi/">
          this article</a>. Many areas of STEM (Science Technology Engineering
          Mathematics) outside mathematics require scientists and engineers to
          utilize areas of math that deal with π, such as trignometry, Fourier
          Transforms, and topology. As a result, depending on which scientists
          and engineers you talk to, they could be encountering π on a
          consistent basis, especially those who are in research.
        </p>
      </section>
    </main>

    <%- include('.././partials/footer'); %>
  </body>
</html>

<!--
     ‘ | &lsquo;
     ’ | &rsquo;
     “ | &ldquo;
     ” | &rdquo;
-->
