<!DOCTYPE html>
<html lang="en" id="how-to-use-pi">
  <%- include('.././partials/head'); %>

  <body>
    <header id="header">
      <h1>How to Use π</h1>

      <nav id="navigation">
        <ul>
          <li><a href="/">
            Home
          </a></li>
          <li><a href="/about-pi">
            π: Background Introduction</a>
            <ul class="dropdown-menu" aria-label="submenu">
              <li><a href="/how-to-use-pi#what">
                <span class="red">What</span> is π?
              </a></li>
              <li><a href="/how-to-use-pi#why">
                <span class="blue">Why</span> π?
              </a></li>
              <li><a href="/how-to-use-pi#how">
                <span class="yellow">How</span> is π Used?
              </a></li>
              <li><a href="/how-to-use-pi#who">
                <span class="green">Who</span> En&shy;coun&shy;ters π?
              </a></li>
            </ul>
          </li>
          <li><a href="/how-to-use-pi">
            How to Use π
          </a></li>
          <li><a href="/pi-test">
            π Test
          </a></li>
        </ul>
      </nav>
    </header>

    <main id="content">
      <section id="pi-value">
        <h2>Approximate Value of Pi</h2>
        <h3>
          π ≈ 3.141592653589
        </h3>
        <p>
          For most purposes, only the first 4 digits after the decimal place
          are necessary for calculations. NASA reports ever needing at most
          15 digits after the decimal to send rockets into outer space.
        </p>
      </section>
      <section id="pi-calculations">
        <h2>Example Calculations Involving π</h2>
        <ul id="pi-calculation-examples">
          <li>
            Circumference of a Circle
            <p class="equation">
              $$C=2\pi r$$
            </p>
          </li>
          <li>
            Area of a Circle
            <p class="equation">
              $$A=\pi r^2$$
            </p>
          </li>
          <li>
            Volume of a Sphere
            <p class="equation">
              $$V=\frac{4}{3} \pi r^3$$
            </p>
          </li>
          <li>
            Surface Area of a Sphere
            <p class="equation">
              $$SA=4\pi r^2$$
            </p>
          </li>
          <li>
            Trignometry (Unit Circle)
            <figure>
              <!-- TODO: Format CSS for these items -->
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Unit_circle_angles_color.svg/768px-Unit_circle_angles_color.svg.png" />
              <figcaption>
                When measuring angles, there are two forms of expressing their
                values: degrees and radians. You may be very familiar with
                degrees (e.g. 120°). When using radians, the critical angles of
                the unit circle are multiples of π.
              </figcaption>
            </figure>
          </li>
        </ul>
      </section>
    </main>

    <%- include('.././partials/footer'); %>
  </body>
</html>

<!--
     ‘ | &lsquo;
     ’ | &rsquo;
     “ | &ldquo;
     ” | &rdquo;
-->
